In [4]:
import pandas as pd

data = pd.read_csv("bluebikes_2017_2018")
data

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,0,2018-08-28 07:01:05,2018-08-28 07:06:57,137,42.398365,-71.107818,220,42.396384,-71.120105,3296
1,1,2018-04-11 18:21:53,2018-04-11 18:35:06,122,42.345733,-71.100694,179,42.355601,-71.103945,1766
2,2,2018-11-28 17:08:21,2018-11-28 17:22:44,22,42.352175,-71.055547,98,42.371848,-71.060292,2585
3,3,2018-05-29 08:13:13,2018-05-29 08:23:12,88,42.374035,-71.101427,107,42.362500,-71.088220,2768
4,4,2018-07-13 06:26:24,2018-07-13 06:34:04,47,42.362811,-71.056067,64,42.351004,-71.049300,1002
...,...,...,...,...,...,...,...,...,...,...
3081595,3081595,2018-11-11 16:21:53,2018-11-11 17:01:29,160,42.337586,-71.096271,81,42.352409,-71.062679,3559
3081596,3081596,2017-08-02 08:28:53,2017-08-02 08:45:32,99,42.385582,-71.113341,80,42.361962,-71.092053,1113
3081597,3081597,2017-08-19 13:41:02,2017-08-19 13:48:03,47,42.362811,-71.056067,59,42.351356,-71.059367,700
3081598,3081598,2018-07-11 16:03:06,2018-07-11 16:14:15,70,42.372217,-71.121881,105,42.357219,-71.113872,1325
3081599,3081599,2018-08-21 08:46:46,2018-08-21 08:49:14,114,42.402038,-71.126533,100,42.396969,-71.123024,3233